<% provide(:title, 'Services') %>
<div class="services-page main grid-wrap">

<header class="grid col-full">
	<hr>
	<p class="fleft">Services</p>
</header>


<aside class="grid col-one-quarter mq2-col-full">
	<p class="mbottom"><p>We create <%= link_to "innovative solutions", innovation_path, {:target=>"blank", :title=>"Learn how to manage innovation"} %> integrated with <strong>desing and functionality</strong> to <strong>mobile/web sites and applications</strong>, working with new <strong>technologies</strong>, <strong>design the user experience (UX)</strong>, <strong>business models</strong> and <%= link_to "eficiency using agile and lean development", working_path, {:target=>"blank", :title=>"Learn how we work"} %></strong>.<br>
	</p>
	<menu>
		<ul>
		<li><strong><a href="#navtabs" class="arrow">Services</a></strong></li>
		<li><strong><a href="#navtogg" class="arrow">Our approach to products and services</a></strong></li>
		</ul>
	</menu>
	
	<h6>Technologies</h6>
	<ul class="halfmbottom">
		<li>HTML5</li>
		<li>.Net</li>
		<li>Android</li>
		<li>iOS</li>
		<li>PHP</li>
		<li>node.js</li>
		<li>jQuery</li>
		<li>Ruby on Rails</li>
	</ul>
	
	<h6>Methodologies</h6>
	<ul class="halfmbottom">
		<li>Lean, Agile, PMI, CMMI,</li>
		<li>Kanban, XP, Scrum, BMP.</li>
	</ul>
			
</aside>

<section class="grid col-three-quarters mq2-col-full">

	
	<div class="grid-wrap">
	
	<article id="navtabs" class="grid col-full">
		<h2>Services</h2>
		<div class="">
			<ul class="tabs clearfix">
			    <li><a href="#tab1">Mobile Apps</a></li>
			    <li><a href="#tab2">Web Apps</a></li>
			    <li><a href="#tab3">Mobile Web</a></li>
				<li><a href="#tab4">Web Sites</a></li>
				<li><a href="#tab5">Gaming</a></li>
				<li><a href="#tab6">Optimization</a></li>
				</ul>
			<div class="tab_container">
			    <article id="tab1" class="tab_content">
			        <%= image_tag("tab1.jpg", alt:"tab1", :options =>{:align=>"left"}) %>
					<h6>Mobile Apps</h6>
					<p>Are you thinking to take your company to the next level through mobile technologies to add marketing and new ways to commercialize?</p>
					<p>Mobile devices are always on and go with their clientes everywhere, therefore it is very usefull a mobile application as a branding tool, promotions, brochures, geolocation.<br></p>
			    </article>
			    
				<article id="tab2" class="tab_content">
					<%= image_tag("tab2.png", alt:"tab2", :options =>{:align=>"left"}) %>
					<h6>Web Apps</h6>
					<p>Coorporative management, is more efficient if you have an application that allows you to monitor your e-commerce, your client's requests or distributor, this way you have complete integration among all your systems</p>
			    </article>
			    
			    <article id="tab3" class="tab_content">
		    		<%= image_tag("tab3.jpg", alt:"tab3", :options =>{:align=>"left"}) %>
					<h6>Mobile navigation very easy and simple :)</h6>
					<p>Users expect their mobile experience to be as good the one they have on their PCs, to solve this our Studio develop mobile web sites with the best design, functionality and easy navegation.<br>
					Consumers are using mobile devices more often to buy staff and take decisions. Therefore, in order to keep up the business competitiveness - it is increasingly important to mobile technology. Companies should go where the clients are and start using friendly mobile websites.</p>
			    </article>
				
				<article id="tab4" class="tab_content">
		    		<%= image_tag("tab4.jpg", alt:"tab4", :options =>{:align=>"left"}) %>
					<h6>Web Sites</h6>
					<p>We design and build web sites usables and atractives with emphasis in <strong>reading easily, speed and accessibility</strong> without losing the sight on the <strong>optimization and the search engine ranking.</strong>
			    </article>
				
				<article id="tab5" class="tab_content">
		    		<%= image_tag("tab5.jpg", alt:"tab5", :options =>{:align=>"left"}) %>
					<h6>Gaming</h6>
					<p>We develop interactive games, exclusive and innovative as a fidelity tool, or simply to<strong>monetize</strong> a <strong>gaming idea!</strong></p>
			    </article>
				
				<article id="tab6" class="tab_content">
					<%= image_tag("tab6.jpg", alt:"tab6", :options =>{:align=>"left"}) %>
					<h6>Mobile-Friendly Website</h6>
					<p>Simply having a website that is accessible via Smartphone internet browsers is not enough in today’s fast-paced mobile world. Be sure the company website loads quickly and efficiently from any mobile device (via tablet or Smartphone).  For example, do the site’s graphics hang-up or have a slow load time? If so, mobile consumers may not have the patience for a sluggish site. Consider creating a special, condensed version of the website, specifically designed for mobile viewing.</p>
			    </article>
				
			 </div>
		  </div>
	</article>			
	
	<article id="navtogg" class="grid col-full">
		<h2>Our approach to products and services</h2>
		video
				<ul class="toggle-view">
					<li>
						<h5 class="toggle-title">Positioning and segmentation <span class="toggle-title-detail"> - Market</span></h5>
						<div class="toggle">                     
							<p>You need a mobile strategy that is integrated into your traditional marketing, advantage that you can be near to their customers, in real time, through their mobiles; we helping brands of all audiences to develop mobile branding, recommendations, strategies, and roadmap.</p>
							It is a way to create loyalty.
						</div>
						<div class="toggle grid-wrap">                     
							<ul class="grid col-one-half mq3-col-full">
								<li>Strategy</li>
								<li>Roadmap</li>
								<li>News</li>
								<li>Communities</li>
							</ul>
							<ul class="grid col-one-half mq3-col-full">
								<li>Innovation</li>
								<li>Events</li>
								<li>Fans</li>
								<li>Customer satisfaction</li>
							</ul>
						</div>       
					</li>
					
					<li>
						<h5 class="toggle-title">Marketing or sale <span class="toggle-title-detail">- Products or services</span></h5>
						<div class="toggle">                     
							<p>The mobile web was the third most influential in <a href="blogpost1.html" title="Mobile-friendly websites">their purchasing decision</a>, too online catalog and direct sales. Shopping is very easy and fun!</p>
						</div>
						<div class="toggle grid-wrap">                     
							<ul class="grid col-one-half mq3-col-full">
								<li>Discounts</li>
								<li>Coupons</li>
								<li>Shop</li>
							</ul>
							<ul class="grid col-one-half mq3-col-full">
								<li>Promotions</li>
								<li>Catalogs</li>
								<li>Gift List</li>
							</ul>
						</div>        
					</li>
					
					<li>
						<h5 class="toggle-title">Communication, promotion or advertising <span class="toggle-title-detail">- Branding</span></h5>
						<div class="toggle">                     
							<p>In TangereT we focus on the <strong>development of new marketing practices</strong>, such as <strong>targeting new markets</strong> or <strong>market segments</strong> and <strong>developing new ways of promoting products</strong>.</p>
							<p>New marketing practices can play a <strong>central role in firms’ performance</strong>.</p>
						</div>	
						<div class="toggle grid-wrap">                     
							<ul class="grid col-one-half mq3-col-full">
								<li>Identity</li>
								<li>Events</li>
								<li>News of their brand, products/services</li>										
							</ul>
							<ul class="grid col-one-half mq3-col-full">
								<li>New marketing practices</li>
								<li>Targeting new markets</li>
								<li>Marketing innovation</li>
							</ul>
						</div> 								       
					</li>
					
					<li>
						<h5 class="toggle-title">Quality of life <span class="toggle-title-detail"></span></h5>
						<div class="toggle">                     
							<p>We make use of design and technology as tools to address the problems, designing solutions for the real world and creating better outcomes for a community, country or population and people living in it. We addresses to the needs of the people who will consume a product or service and the infrastructure that enables it.</p>
						</div>
					</li>
					
					<li>
						<h5 class="toggle-title">Entertainment <span class="toggle-title-detail"></span></h5>
						<div class="toggle">                     
							<p> Working...</p>
						</div>
					</li>
					
					<li>
						<h5 class="toggle-title">Education <span class="toggle-title-detail">- Pedagogy, teaching</span></h5>
						<div class="toggle">                     
							<p>Technology is the means that people are using to advance their individual and collective life, so the technology challenges of today's education systems, which are designed for the industrial age, without emabargo, today's world demands that people learn constantly create knowledge, empower participate, communicate and innovate.</p>
							<p>In TangereT we have that innovative spirit that can create learning experience more attractive, for this we developed applications and digital platforms and some environment learning, for this we devolped with easy innovative solutions for education.</p>
						</div>
						<div class="toggle grid-wrap">                     
							<ul class="grid col-one-half mq3-col-full">
								<li>Aplicaciones</li>
								<li>Plataformas</li>
							</ul>
							<ul class="grid col-one-half mq3-col-full">
								<li>Ambientes</li>
								<li>Entornos de trabajo</li>
							</ul>
						</div>
					</li>
				</ul>
	</article>
		
	</div>

</section>	
	
		
		
	</div> <!--main-->